@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

}

h1 {
  font-size: 30px;
  font-weight: 700;
}

.button {
  background-color: rgb(109 40 217);
}

.button,
.button2 {
  color: rgb(255 255 255);
  padding: .6rem;
  border-color: rgb(209 213 219);
  background-color: #6D9F71;
  border-radius: 0.5rem;
  border-width: 1px;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #337357;
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color=rgb(196 181 253));
}

.button:active {
  background-color: rgb(109 40 217);
}

.button2 {
  background-color: rgb(63, 80, 228);
}

.button2:hover {
  background-color: rgb(80, 107, 227);
}

.button-disabled {
  opacity: 50%;
}

.input {
  padding: .6rem;
  color: black;
  border-radius: 0.5rem;
  border-width: 1px;
  margin-bottom: 1rem;

}

.input:focus {
  outline: 2px solid transparent;
  border-color: rgb(75 85 99);
}

.input::placeholder {
  font-style: italic;
}

.linkBox {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: black;
  padding: .6rem;
  height: 50px;
}

/* signup page  */
.signupBox {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  place-content: center;
  height: auto;
  padding: 80px;
  background-color: #E4E3D3;
}

.signupBox h1 {
  opacity: 65%;
}

.info {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.infoBox1 {
  flex-basis: 50%;
  background-image: linear-gradient(132deg, #2e2d4d 30%, #cB48b7 30%, #E4E3D3 46%, #6D9F71 10%);
}

.infoBox2 {

  flex-basis: 50%;
  background-image: linear-gradient(48deg, #2e2d4d 30%, #cB48b7 30%, #E4E3D3 46%, #6D9F71 10%);
}

.infoText {
  color: #efeee7;
  font-size: 70px;
  display: flex;
  position: relative;
  top: 89%;
  left: 35%;
  width: 350px;

}

.buttonBorder {
  border-right: 1px solid black;
  border-radius: 25%;
  border-bottom-left-radius: 25%;
}


/* login page styles */
.loginDiv {
  box-sizing: content-box;
}

.loginBox,
.sideBox {
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  height: auto;
}

.loginBox {
  place-content: center;
  padding: 30px;
  background-color: #E4E3D3;
}

.loginBox h1 {
  text-align: center;
  opacity: 65%;
}

.sideBox {
  background-color: red;
}

.sideBox1 {
  background-image: linear-gradient(48deg, #2e2d4d 30%, #cB48b7 30%, #E4E3D3 46%, #6D9F71 10%);
}

.sideBox2 {
  background-image: linear-gradient(-48deg, #2e2d4d 30%, #cB48b7 30%, #E4E3D3 46%, #6D9F71 10%);
}

.linkDiv {
  display: flex;
  flex-direction: row;
  flex-basis: 10%;
  place-content: space-around;
  height: 5%;
}

.loginLink {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: black;
  padding: .6rem;
  height: 45px;
  overflow: hidden;
}

/* profile page */
.logout {
  display: flex;
  flex-basis: 100%;
  background-color: #2E2D4D;
  justify-content: flex-end;
  height: 55px;
}

.profileBox1,
.profileBox2 {
  display: flex;
  flex: wrap;
  flex-direction: column;
  padding: 0.75rem;

}

.profileBox1 {
  background-image: linear-gradient(50deg, #2e2d4d 30%, #cB48b7 30%, #E4E3D3 46%, #6D9F71 10%);
  flex-basis: 33.333333%;
}

.profileBox2 {
  flex-basis: 66.666667%;
  background-color: #E4E3D3;
}

.detailBox {
  flex-basis: 33.333333%;
  padding-left: 5px;
}

.detailBox>span:after,
span:before {
  content: "\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
  color: rgb(148 163 184);
  ;
}

.detailBox2 {
  display: flex;
  flex-basis: 33.333333%;
  padding-left: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}

.detailBox2>div:first-child {
  flex-basis: 40%;
}

.detailBox2>div:nth-child(2) {
  flex-basis: 60%;
}

.detailBox2>div:nth-child(3) {
  flex-basis: 100%;
}

.contactBox {
  flex-basis: 66.666667%;
  padding-left: 5px;
}

.contactBox li {
padding-bottom: 10px;}
.contactBox span {
  font-weight: bolder;
}